.tree {
  position: absolute;
  bottom: 0;
  transform-origin: bottom center;
  transition: transform 0.3s ease;
  z-index:12; /* por encima del overlay */
}


.trees-layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65%;
  pointer-events: none;
  z-index: 11;
  overflow: visible;
}

/* ⚠️ IMPORTANTE: mover el degradado detrás */
.trees-layer::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55%;

  background: linear-gradient(
    to top,
    rgba(25,15,60,0.85),
    rgba(25,15,60,0.4),
    transparent 90%
  );

  z-index: 10; /* 🔥 detrás de los árboles */
  pointer-events: none;
}


.tree-far {
  width: 260px;
  opacity: 0.5;
  filter: blur(2px) brightness(0.8);
  transform: scale(0.7);
}


.tree-mid {
  width: 380px;
  opacity: 0.85;
  filter: blur(0.5px);
  transform: scale(0.9);
}


.tree-close {
  width: 520px;
  opacity: 1;
  filter: drop-shadow(0px 30px 50px rgba(0,0,0,0.6));
  transform: scale(1);
}


@media (max-width: 768px) {

  .trees-layer {
    height: 55%;
  }

  .tree-mid,
  .tree-far {
    display: none;
  }

  .tree-close {
    width: 300px;
  }
}


.tree-close:hover {
  transform: scale(1.05);
}


@keyframes floatTree {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}

.tree-close {
  animation: floatTree 6s ease-in-out infinite;
}
