.trees-layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  pointer-events: none;
  z-index: 9;
}


.trees-layer::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;

  background: linear-gradient(
    to top,
    rgba(50,30,90,0.8),
    transparent 80%
  );

  z-index: 10;
  pointer-events: none;
}


/* Base */
.tree {
  position: absolute;
  bottom: 0;
  transform-origin: bottom center;
  transition: transform 0.3s ease;
}

.tree-far {
  width: 280px;
  opacity: 0.35;
  filter: blur(3px);
  transform: scale(0.6);
  z-index: 9;
}

.tree-mid {
  width: 380px;
  opacity: 0.7;
  filter: blur(1px);
  transform: scale(0.85);
  z-index: 10;
}

.tree-close {
  width: 500px;
  opacity: 1;
  filter: blur(0px);
  transform: scale(1);
  z-index: 11;
}

