#root {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  background-image:
    linear-gradient(to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7)),
    url("textures/fondo.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-blend-mode: multiply;
}

/* Overlay oscuro */
#root::before {
  content: "";
  position: absolute;
  inset: 0;

  background:
    radial-gradient(ellipse at center,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0.4) 70%,
      rgba(0, 0, 0, 0.7) 100%),
    linear-gradient(to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.8));

  pointer-events: none;
  z-index: 1;
}


canvas {
  position: absolute;
  z-index: 29;
}


@keyframes glow {
  0%, 100% {
    text-shadow:
      0 0 5px #fff,
      0 0 15px #fff,
      0 0 30px rgba(255,255,255,0.9);
  }
  50% {
    text-shadow:
      0 0 10px #fff,
      0 0 25px #fff,
      0 0 60px rgba(255,255,255,1);
  }
}

.animate-glow {
  animation: glow 3s ease-in-out infinite;
}

@keyframes glowSoft {
  0%, 100% {
    text-shadow: 0 0 10px rgba(255,255,255,0.6);
  }
  50% {
    text-shadow: 0 0 25px rgba(255,255,255,0.9);
  }
}

.animate-glow-soft {
  animation: glowSoft 4s ease-in-out infinite;
}


.ui-container {
  position: relative;
  z-index: 31;
  text-shadow:
    0 4px 12px rgba(255, 0, 0, 0.7),
    0 0 20px rgba(255, 0, 0, 0.2);
}

.ui-container::before {
  content: "";
  position: absolute;
  inset: -80px;
  background: radial-gradient(ellipse at center,
      rgba(255, 180, 230, 0.25),
      rgba(255, 120, 200, 0.15),
      transparent 70%);
  filter: blur(120px);
  z-index: -1;
  pointer-events: none;
}



body {
  margin: 0;
  font-family: 'Cinzel', serif;
}



.outline-text {
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}
