.cloud {
  position: absolute;
  pointer-events: none;
  z-index: 4;

  width: clamp(700px, 65vw, 1500px);

  /* 🌫 Fade MUY progresivo */
  -webkit-mask-image:
    linear-gradient(to right,
      transparent 0%,
      rgba(0,0,0,0.05) 10%,
      rgba(0,0,0,0.2) 20%,
      rgba(0,0,0,0.5) 35%,
      black 50%,
      rgba(0,0,0,0.5) 65%,
      rgba(0,0,0,0.2) 80%,
      rgba(0,0,0,0.05) 90%,
      transparent 100%
    ),
    linear-gradient(to bottom,
      transparent 0%,
      rgba(0,0,0,0.4) 20%,
      black 50%,
      rgba(0,0,0,0.4) 80%,
      transparent 100%
    );

  -webkit-mask-composite: source-in;
  mask-composite: intersect;

  filter: brightness(1.05) contrast(1.05) blur(5px);
}


@keyframes windLeftSlow {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes windLeftFast {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(120vw);
  }
}

@keyframes windRightSlow {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes windRightFast {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(-120vw);
  }
}

.cloud-left-slow {
  top: 10%;
  left: 0;
  animation:
    windLeftSlow 120s linear infinite,
    floatY 24s ease-in-out infinite;
}

.cloud-left-fast {
  top: 15%;
  left: -40%;
  animation:
    windLeftFast 100s linear infinite,
    floatY 20s ease-in-out infinite;
}

.cloud-right-slow {
  top: 10%;
  right: 0;
  animation:
    windRightSlow 140s linear infinite,
    floatY 26s ease-in-out infinite;
}

.cloud-right-fast {
  top: 15%;
  right: -40%;
  animation:
    windRightFast 120s linear infinite,
    floatY 22s ease-in-out infinite;
}
