@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");

@import "./styles/base.css";
@import "./styles/clouds.css";
@import "./styles/moon.css";
@import "./styles/star.css";
@import "./styles/montain.css";

@import "./styles/arboles.css";
@import "./styles/lake.css";
@import "./styles/book.css";
@import "./styles/hojassakura.css";
@import "./styles/sakura.css";
@import "./styles/tulips.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
